/*
Styling for the components
*/

.input{
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
   

}

.inputbox{
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 20px 30px;
    font-size: 25px;
    border: 2px solid black;
    transition: 0.2s;
    box-shadow: inset 10 10 10 black;
}

.inputbox:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.241);
    outline: none;
}

.inputsubmit{
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    border: 2px solid black;
    border-color: black;
    font-size: 15px;
    background-color: white;
    color: black;
    transition: 0.2s all;
}

.inputsubmit:hover{
    background-color:  rgb(206, 206, 206);

}

.inputsubmit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(50, 195, 205);
  }

.todos_single{
    display: flex;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    margin-top: 15px;
    transition: 0.2s;
    border: 2px solid black;
    background-color: white;

}

.todos_single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.todos_single--text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos__heading {
    font-size: 30px;
    /* text-align: center; */
    color: white;
  }

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .todos_single--text:focus {
    outline: none;
  }

  .container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .remove {
    background-color: rgb(235, 103, 80);
  }
  


  .dragactive {
    background-color: rgb(0, 94, 236);
  }
  
  .dragcomplete {
    background-color: rgb(255, 38, 0);
  }

  .drag {
    box-shadow: 0 0 20px black;
  }
  



  @media (max-width: 1100px) {
    .todos {
      width: 45%;
    }
  }
  
  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .container {
      width: 95%;
      flex-direction: column;
    }
    .todos {
      width: 95%;
      margin-bottom: 10px;
    }
    .todos_single{
        width: 90%;
    }
  }